<br>
<h1 style="text-align: center;">Contratos</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Nome Fantasia</th>
			<th scope="col">Site</th>
			<th scope="col">Email</th>
    </tr>
  </thead>
  <tbody id="companyBody">
		{{#each companies}}
			<tr id="row:{{this.idEmpresa}}">
				<th scope="row">{{this.idEmpresa}}</th>
				<td>{{this.cnpj}}</td>
				<td>{{this.razaoSocial}}</td>
				<td>{{this.nomeFantasia}}</td>
				<td>{{this.site}}</td>
				<td>{{this.email}}</td>
			</tr>
		{{/each }}
  </tbody>
</table>